.home_filter {
  border-top: 1px solid rgba($color: #000000, $alpha: 0.6);
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.6);
  width: 100%;
  margin-top: -15px;
  margin-bottom: 20px;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.filter_label {
  padding-right: 5px;
  font-size: 12px;
  font-weight: 600;
  color: rgba($color: #2c2c2c, $alpha: 0.8);
}

select {
  font-size: 16px;
  border: none;
  background-color: #f2f2f2;
  padding-right: 10px;
}

.searchBar {
  border: 1px solid black;
  display: flex;
  justify-items: center;
  align-items: center;
  height: 25px;
  background-color: white;
  padding-right: 3px;
}
